* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background-image: url(img.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff64;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .titre {
    margin-bottom: 10px;
    font-size: 30;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0;
}

form {
    width: 100%;
}

.container form > input {
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 2px white;
    margin: 10px 20px;
    width: 90%;
    align-items: center;
}

.check-box {
    display: flex;
    gap: 5px;
}

.same-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}
 .same-line a {
    text-decoration: none;
    font-weight: 700;
 }

.container button {
    width: 80%;
    color: #000;
    padding: 10px ;
    margin: auto;
    border-radius: 20px;
    border: none;
    border: solid 2px transparent;
    transition: .5s;
}

.container button:hover {
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
}

.last-line {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.last-line a {
    text-decoration: none;
}